@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "transitions.css";

body {
  background-color: rgba(157, 199, 200, 1);
  font-family: "Poppins";
}

#tardis {
  display: block;
  border-color: rgba(116, 131, 134, 1);
  border-style: solid;
  border-radius: 50%;
  margin: auto;
  width: 20%;
}

h3 {
  text-align: center;
}

.ratingScale:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.ratingScale:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.ratingScale:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('images/Household-Toilet-on-icon.png');
  background-size : contain;
}

.ratingScale:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('images/Household-Toilet-Pan.ico');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.ratingScale:not(old) > label:hover:before,
.ratingScale:not(old) > label:hover ~ label:before,
.ratingScale:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px rgba(112, 101, 99, 1);
}

#position1, #position2 {
  color: rgb(211,211,211);
}

#mission {
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

#mapinfo {
  text-align: center;
}

a:hover {
  color: rgba(112, 101, 99, 1);
}

nav {
  text-decoration: none;
  text-align: center;
  word-spacing: 30px;
  border-bottom: 2px solid rgb(0,0,0);
  padding-bottom: 5px;
  margin-left: 35%;
  margin-right: 35%;
}

#disclaimer {
  text-align: center;
  background-color: rgba(112, 101, 99, 1);
  border-style: solid;
  border-radius: 25px;
  border-color: rgba(59, 13, 17, 1);
  padding: 5px;
  margin: 5px;
}

.pottyList {
  list-style: none;
}

.pottyList:hover {
  color: rgba(112, 101, 99, 1);
}

#forDisplay {
  display:flex;
}

#tableTitle {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px rgba(112, 101, 99, 1);
}

#displayList {
  width: 38%;
  margin-left: 180px;
}

#spanTitle {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px rgba(112, 101, 99, 1);
}

table {
  border-radius: 35px;
  border: 1px rgba(59, 13, 17, 1);
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 180px;
  width: 100%;
  animation: tableTrans 1.0s linear;
}

td {
  padding-left: 25px;
  padding-right: 25px;
}

#map_holder {
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-top: 5px;
  animation: tableTrans 2.0s linear;
}

#mapDirections {
  color: rgba(112, 101, 99, 1);
  text-align: center;
  margin-bottom: 2px;
}

#gottaGo {
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px rgba(112, 101, 99, 1);
  margin-top: 75px;
  height: 120px;
}

#displayTable {
  margin-right: 180px;
}

tbody {
  width: 100%;
}

#commons {
  margin-left: 80%;
  font-size: .75em;
}
